beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
gmail==0.6.3
idna==3.3
jeepney==0.7.1
loguru==0.5.3
notify-py==0.3.3
notify2==0.3.1
notifypy==1.0.3.0
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.0.1
PyJWT==2.3.0
pyparsing==3.0.7
pytesseract==0.3.9
pytz==2021.3
requests==2.27.1
soupsieve==2.3.1
twilio==7.7.0
urllib3==1.26.8
